node_modules/
dist/
log/

acc-config.json
last-known-servers.json
packets.json
versions.json

src/services/updater-assets/*
!src/services/updater-assets/.gitkeep
resources/*
!resources/.gitkeep

.vscode/

nrelay-log.log

.DS_Store
.idea
